body{
  font-size: 0.875rem;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  line-height: 1.714em;
  background-color: grey;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.index-content-title,
.title{
  font-size: 1.875rem;
  line-height: 1.4em;
}

.content-title{
  font-size: 1.5rem;
  line-height: 1.25em;
}
.container{
	width: 960px;
	margin: 0 auto;
}
.inner-header{
	margin-bottom: 55px;
}
.inner-navigation{
	float: left;
	width: 730px;
}
.user-block{
	float: right;
	width: 150px;
}
/*catalog.page */
.page-title{
	clear: both;
	padding-left: 10px;
	margin-bottom: 55px;

}
.options{
	float: left;
	width: 210px;
	padding-left: 10px;
	margin-right:10px;
}
.catalog{
	width: 730px;
	float: right;
}
.catalog-item{
	display: inline-block;
	width: 220px;
	vertical-align: top;
	margin-right: 10px; 
	margin-left: 10px; 
}
/*item.page */
.images-item{
	float:left;
	width:480px;
	font-size: 0;
}
.big-image{
	padding-left: 10px;
	padding-right: 10px; 
}
.item-description{
	float:right;
	width:390px;
	margin-right: 10px; 
	margin-left: 10px;
}
.mini-image{
	display:inline-block;
	padding-left: 10px;
	padding-right: 10px; 
}


/*footer */
.inner-footer{
	clear: both;
	margin-top:50px;
	padding-top: 55px;
	padding-bottom: 40px;
}
.contacts{
	float: left;
	width: 390px;
    margin-right: 20px;
}
.social{
	float: left;
	width: 180px;
}
.copyright{
	float: right;
	width: 180px;
}